<template>
  <div id="app">
	<div id="video_wrapper">
		<video id="heroVideo" autoplay muted playsinline ref="video">
			<source src="@/assets/universe.webm" type="video/webm">
			<source src="@/assets/universe.mp4" type="video/mp4">
		</video>
	</div>

    <div class="row"><img alt="Logo do Jean aqui" src="@/assets/logo.png"></div>

	<div class="row flex-row">
		<div class="flex-module-2 right">
			<h1>Curitiba vai receber<br><span class="accent">o melhor estúdio de design e animação da galáxia!</span></h1>
		</div>

		<div class="flex-module-2 left">
			<h2>Quer ficar por dentro da nossa chegada?</h2>
			<p>Deixe seu e-mail e te avisamos assim que a nossa nave pousar!</p>
			
			<form name="teaser_email_form" method="POST" netlify-honeypot="nome" data-netlify="true">
				<p class="hidden">
					<label hidden>Nome: <input name="nome" /></label>
				</p>
				<p>
					<input class="input_email" type="email" name="email" placeholder="Digite seu email aqui">
				</p>
				<p>
					<button class="input_submit" type="submit" value="Submit">Enviar</button>
				</p>
			</form>
			
		</div>
	</div>

  </div>
</template>

<script>

export default {
	name: 'app',
	mounted(){
		this.$refs.video.playbackRate = 4;
	}
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

html, body {
	margin: 0;
	padding: 0;
	max-height: 100vh;
	overflow: hidden;
	background: linear-gradient(190deg,#ccb6ff,rgba(14, 0, 68, 0.72) 50%);
}

#video_wrapper {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#video_wrapper video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%; 
  min-height: 140vh;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#app {
	display: flex;
	font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	line-height: 1.4;
	color: white;
	text-align: center;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
	background-color: transparent;
	scroll-behavior: smooth;
	overflow: hidden;

	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.row {
	width: 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 2rem 2rem;
}

.flex-module-2{
	max-width: 50%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.flex-module-2:last-child {
	transform: translate(0, .8rem);
}

.flex-module-2:first-child{
	max-width: 40%;
}

h1 {
	margin: 0 0 auto 0;
	font-size: 2.4rem;
}

h2 {
	margin: 0 0 auto 0;
	font-size: 1.4rem;
}

p {
	margin-top: 0;
	margin-bottom: 1.4rem;
}

.accent {
	color: #a530c7;
}

.input_email {
	min-height: 50px;
	border: none;
	border-radius: 4px;
	padding-left: 1.4rem;
	margin: 0 .5rem .8rem 0;
	max-width: 300px;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: #a530c7;
	border: 2px solid white;
}

.input_email:focus, .input_email:focus-within{
	outline: none;
	border: 2px solid #a530c7;
}

.input_email::placeholder{
	color: #a530c7;
	font-size: 1.2rem;
	line-height: 1.2;
}

.input_submit{
	width: 170px;
	min-height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #a530c7;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.2rem;
	cursor: pointer;
	transition: all .2s ease;
}

.input_submit:hover{
	filter: brightness(1.4);
	transform: scale(1.02);
}

.input_submit:focus:active{
	transform: scale(.98);
}

form {
	display: flex;
}

form p{
	margin: 0;
}

@media screen and (max-width: 764px), (pointer: coarse){
	#app{
		justify-content: center;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	.row img{
		max-height: 130px;
	}
	.flex-row {
		flex-direction: column;
		align-items: center;
	}
	.flex-module-2{
		max-width: 80%;
	}
	h1 {
		font-size: 1.8rem;
		text-align: center;
	}

	h2 {
		font-size: 1rem;
		text-align: center;
	}
	p {
		font-size: 0.9rem;
		text-align: center;
	}
	.input_email{
		width: 100%;
		max-width: unset;
		text-align: center;
		padding: .6rem;
	}
	.input_email::placeholder{
		text-align: center;
	}
	.input_submit{
		width: 100%;
	}
	form{
		flex-direction: column;
	}
}

@media only screen and (max-width: 440px){
	.flex-row{
		transform: translate(0, -1rem);
	}
	.row img{
		max-height: 110px;
	}
	.flex-module-2{
		justify-content: center;
		align-items: center;
	}
	h1{
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
	h2, p{
		font-size: 1rem;
	}
	.input_email::placeholder{
		font-size: 1rem;
	}
	.input_submit{
		font-size: 1rem;
		width: 100%;
		font-weight: bold;
	}
}
</style>